body{
display:grid;
grid-template-rows:repeat(3,auto);
}

h1{

}
p{

}
h2{

}
h3{

}
.heading{
/* background-color: aquamarine; */
border-color:black;
border-style:solid;
}

.container{
display:grid;
/* background-color: black; */
grid-template-rows:repeat(2,auto);
}

.wrapper{
/* background-color: blueviolet; */
grid-template-rows:repeat(3,auto);
border-radius:15px;
border-color:black;
border-style:solid;

}

.siblingwrapper{
/* background-color: brown; */
grid-template-rows:repeat(2,auto);
border-radius:15px;
border-color:black;
border-style:solid;
}
.wrapperitem{
/* background-color: crimson; */
}

.footer{
/* background-color: darkgreen; */
border-radius:15px;
border-color:black;
border-style:solid;
}

.summary{
    /* background-color: fuchsia; */
}

@media (min-width: 768px) {

body{
display:grid;
grid-template-columns:1 auto;
grid-template-rows:repeat(3,auto);
}

.container{
display:grid;
grid-template-columns:repeat(2,auto);
}

.wrapper{
grid-template-rows:repeat(3,auto);
}

.siblingwrapper{
grid-template-rows:repeat(2,auto);
}


}